:root {
  --background: #0f0f0f;
  --foreground: #1a1a1a;
  --accent: #7f39fb;
  --text-primary: #e0e0e0;
  --text-secondary: #888888;

  --button-primary-hover: #3a0ca3;
  --button-secondary-hover: #2a2a2a;
  --button-secondary-border: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #1a1a1a;
    --accent: #7f39fb;
    --text-primary: #f0f0f0;
    --text-secondary: #999999;

    --button-primary-hover: #7f39fb;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #222222;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: 'Arial', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--accent);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
